* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    border-top: 2mm solid red;
    border-bottom: 2mm solid red;
    background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,.2) );
    background: url("/img/top-image.png") no-repeat left top,
    url("/img/bottom-image.png") no-repeat left bottom
  }

  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: url("/img/logo.png");
  }
  top{
    background-image: linear-gradient() to bottom;

  }
  
  /* Your CSS below here */